<!-- <p-sidebar [(visible)] = "sidebarVisible">

</p-sidebar> -->
<!--
<p-button (click)="sidebarVisible = !sidebarVisible">
vis
</p-button> -->
<div class="progress-spinner" *ngIf="showSpinner">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="layout-wrapper" [ngClass]="containerClass">
  <app-topbar></app-topbar>
  <div class="layout-sidebar">
      <app-sidebar></app-sidebar>
  </div>
  <div class="layout-main-container">
      <div class="layout-main">
          <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
  </div>

  <div class="layout-mask"></div>
</div>
