.layout-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 4rem 1rem 1rem 2rem;
  transition: margin-left $transitionDuration;
}

.layout-main {
  flex: 1 1 auto;
  height: 0px;
}
