.layout-sidebar {
  position: fixed;
  width: $sidebarWidth;
  height: calc(100vh - 4rem);
  z-index: 998;
  overflow-y: scroll;
  top: 3.5rem;
  left: 0.5rem;
  transition: transform $transitionDuration, left $transitionDuration;
  background-color: var(--surface-overlay);
  border-radius: $borderRadius;
  padding: 0.5rem 0.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .02), 0px 0px 2px rgba(0, 0, 0, .05), 0px 1px 4px rgba(0, 0, 0, .08);
}
