/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";

@import "tailwindcss/components";

//UNCOMMENT FOR TAILWIND
//@import "tailwindcss/utilities";

@import "assets/custom-styles.scss";

//UNCOMMENT FOR TAILWIND
// @layer tailwind-base, primeng, tailwind-utilities;

// @layer tailwind-base {
//     @tailwind base;
// }

// @layer tailwind-utilities {
//     @tailwind components;
//     @tailwind utilities;
// }

//// @import "primeflex/primeflex.css";

@import "primeicons/primeicons.css";
@import "assets/layout/layout.scss";



html , body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: var(--surface-ground);
}

.layout-wrapper {
  height: 100%;
}

